@import "helpers";
@import "modal";
.summary {
  .title_summary {
    // background-color: red;
    padding: 5px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $monse;
    @include tablet {
      flex-direction: row;
      align-items: center;
      padding-bottom: 20px;
    }
    .title {
      //   flex: 1;
      width: 100%;
      text-align: center;
      //   background-color: blue;
      @include tablet {
        max-width: 300px;
      }

      h3 {
        margin: 5px 0px 0px;
      }
    }
    .description {
      flex: 1;
      text-align: center;
      padding: 0px 20px;
      @include tablet {
        text-align: left;
      }
    }
  }
  .detail {
    // background-color: yellow;
    width: 100%;
    min-height: 200px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    font-family: $monse;
    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }
    @include desktop {
      grid-template-columns: 1fr 1fr;
    }
    .gallery {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
      position: relative;
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      // max-width: 600px;
      @include tablet {
        // min-height: auto;
      }
      &.image {
        padding: 0px 5px;
        picture {
          margin: 0px auto;
        }
      }
      .wrapper_gallery {
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        @include desktop {
          flex-direction: row;
        }
        .thumbnails {
          padding: 5px;
          width: auto;
          // background-color: red;
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          cursor: pointer;
          @include desktop {
            flex-direction: column;
            justify-content: flex-start;
          }
          .thumbnail {
            width: 70px;
            margin: 0px 3px;
            @include desktop {
              width: 100px;
              margin: 2px 0px;
            }
          }
        }
        .viewer {
          // background-color: blue;
          padding: 5px 5px;
          @include desktop {
            flex: 1;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .includes {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
      // background-color: gray;
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p,
      h4,
      h3 {
        margin: 5px;
      }
    }
    .total {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
      // background-color: red;
      padding: 15px 10px;
      @include tablet {
        grid-column: auto/span 2;
      }
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        @include tablet {
          margin: 0px auto;
          max-width: 600px;
          padding-bottom: 10px;
          border-bottom: 2px solid rgba($grayTextRR, 0.4);
        }
        li {
          display: flex;
          flex-direction: row;
          padding: 5px 0px;
          .description {
            flex: 1;
            padding-right: 5px;
            display: flex;
            // justify-content: center;
            align-items: center;
          }
          .price {
            // background-color: blue;
            width: 150px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &.totalPrice {
              color: $blueRR;
              font-weight: bold;
            }
          }
        }
      }
    }
    &.event {
      // background-color: green;
      padding: 10px 0px 10px;
      margin-top: 10px;
      @include mobile {
        display: flex;
        flex-direction: column-reverse;
      }
      @include desktop {
        // background-color: red;
        padding: 20px 0px 70px;
      }
      &.inverted {
        @include mobile {
          flex-direction: column;
        }
      }
      .itemsInclude {
        display: flex;
        flex-direction: column;
        // align-items: center;
        flex-wrap: wrap;
        // background-color: gray;
        padding: 0px;
        @include tablet {
          flex-direction: row;
        }
        li {
          // background-color: yellow;
          width: 100%;
          min-width: 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 5px 0px;
          padding: 5px 0px;
          @include desktop {
            width: 50%;
          }

          img {
            max-width: 40px;
            margin-right: 5px;
          }
        }
      }
      .totalSection {
        span {
          font-weight: bold;
        }
      }
    }
  }
  .selectType {
    font-family: $monse;
    padding: 15px 0px;
    @include tablet {
      margin: 0px auto;
      max-width: 600px;
    }

    .noteSection {
      margin-bottom: 15px;
      p {
        margin: 5px 10px;
        text-align: center;
        @include tablet {
          text-align: left;
        }
        .note {
          font-weight: bold;
        }
      }
    }
    .or {
      padding: 0px 10px;
    }
    .agreeterms,
    .agreeregular {
      padding: 10px 10px;
      // background-color: red;
    }
    .termsandconditions {
      margin: 10px 0px;
      padding: 10px 5px;
      background-color: rgba($blueRR, 0.2);
      p {
        margin: 0px;
        padding: 0px 0px 10px;
      }
      .terms {
        padding: 10px 5px 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        @include mobile {
          margin: 0px auto;
          max-width: 300px;
        }
        .term {
          width: 100%;
          display: flex;
          align-items: center;
          padding-bottom: 15px;
          text-transform: capitalize;
          // @include desktop {
          //   width: 100%;
          // }
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .booksection {
    border-top: 1px solid $grayRR;
    font-family: $monse;
    padding: 10px 10px 20px;
    h3,
    p {
      margin: 0px;
      padding: 5px 0px;
    }
    h3 {
      width: 100%;
      max-width: 100%;
      text-align: center;
      @include tablet {
        max-width: 300px;
      }
    }
    &_wrapper {
      margin: 0px auto;
      max-width: 600px;
      @include tablet {
        padding: 0px 10px;
      }
      .datepickersection {
        display: flex;
        flex-direction: column;
        @include tablet {
          padding: 0px 10px;
          flex-direction: row;
        }
        .picker {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 10px;
          @include tablet {
            width: 50%;
          }
          .custom-input,
          .react-datepicker__time-list-item,
          .react-datepicker__header,
          .react-datepicker__day,
          input {
            font-family: #{$monse} !important;
          }
          input,
          .react-datepicker-wrapper {
            width: 100%;
          }
          .custom-input,
          input {
            width: 100%;
            font-size: 13px;
            border-radius: 4px;
            box-shadow: inset 0 2px 2px #e9e9e9;
            border: 1px solid #aeaeae;
            line-height: 16px;
            padding: 6px 10px 5px;
          }

          .react-datepicker__time-list-item.react-datepicker__time-list-item--disabled {
            display: none;
          }
        }
      }
    }
  }
  .custom-input {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px #e9e9e9;
    border: 1px solid #aeaeae;
    line-height: 16px;
    padding: 6px 10px 5px;
    font-family: "Montserrat", sans-serif;
    span {
      flex: 1;
    }
  }
  .formulario {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    .title {
      h4 {
        text-align: center;
      }
    }
    .form {
      max-width: 400px;
      margin: 0px auto;
      .dataform {
        margin: 5px 0px 10px;
        .react-datepicker-wrapper {
          width: 100%;
          .custom-input {
            width: 100%;
          }
        }
        .custom-input {
          padding: 10px 10px 8px;
          background-color: white;
          border-color: #cccccc;
          span {
            text-align: left;
            color: #666;
          }
        }
      }
    }
  }
}
